@using MrRondon.Infra.CrossCutting.Helper
@{ Layout = null;}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Images/favicon-16x16.png">
    <link rel="manifest" href="/Content/Images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="@Constants.SystemName">
    <meta name="author" content="Equipe GoNew">
    <meta name="description" content="@Constants.SystemName é um aplicativo (App) desenvolvido para impulsionar o turismo de Rondônia. Visando atender as reais necessidades dos pioneiros e dos novos empreendedores do nosso estado, o App apresenta o perfil rondoniense agregado a uma personalidade histórica, Marechal Rondon. Com o App @Constants.SystemName, as dificuldades associadas ao desconhecimento do turismo cultural e do turismo de negócios, transformam-se em oportunidades." />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Rondon, Turismo, Setur, @Constants.SystemName App, GoNew, Guimaraes Technology" />
    <meta name="revised" content="08/06/2018" />
    <meta name="copyright" content="Equipe GoNew [https://github.com/guimaraes-technology/mrrondon]" />
    <link rel="stylesheet" type="text/css" href="~/Content/site/cover.css">
    <title>@Constants.SystemName</title>
</head>
<body>
    <div id="geral">
        <header>
            <nav>
                <div class="header-title">
                    <h1>@Constants.SystemName</h1>
                </div>
                <div class="header-brasao">
                    <img src="@Url.Content("~/Content/Images/brasao_ro.png")" alt="">
                </div>
                <div class="header-login">
                    <a href="@Url.Action("Signin", "Account")">
                        <img src="@Url.Content("~/Content/Images/login.png")" alt="" width="30" height="35">
                    </a>
                </div>
            </nav>
        </header>
        <div id="corpo">
            <div id="parte1">
                <img src="@Url.Content("~/Content/Images/mosaico.png")" width="420px" height="450px" alt="">
            </div>
            <div id="parte2">
                <img src="@Url.Content("~/Content/Images/cel.gif")" width="330px" height="450px" alt="">
            </div>
            <div id="parte3">
                <br>
                <font size="3" color="#006063" face="arial">
                    <b>@Constants.SystemName</b> é um aplicativo (App) desenvolvido para impulsionar o turismo de Rondônia.
                    Visando atender as reais necessidades dos pioneiros e dos novos empreendedores do nosso estado,
                    o App apresenta o perfil rondoniense agregado a uma personalidade histórica, Marechal Rondon.
                    Com o App @Constants.SystemName, as dificuldades associadas ao desconhecimento do turismo
                    cultural e do turismo de negócios, transformam-se em oportunidades.
                </font>
                <br><br>
                <a href="https://play.google.com/store/apps/details?id=turismo.sistemas.ro.gov.br" target="_blank" style="color: white;text-decoration: none">
                    <div id="botao">
                        <img src="@Url.Content("~/Content/Images/android.png")" width="35px" height="35px" alt="">
                        <br>
                        Disponível para Android
                    </div>
                </a>
                <a href="#" onclick="alert('Ainda não disponível')" style="color: white;text-decoration: none">
                    <div id="botao">
                        <img src="@Url.Content("~/Content/Images/ios.png")" width="35px" height="35px" alt="">
                        <br>
                        Disponível para iOS
                    </div>
                </a>
            </div>
        </div>
        <footer>
            <div id="rodape">
                <font size="2" color="white" face="verdana">
                    Governo do Estado de Rondônia - @DateTime.Now.Year<br>
                    Superintendência Estadual de Turismo - SETUR<br>
                    &copy; Todos os Direitos Reservados
                </font>
            </div>
        </footer>
    </div>
    </div>
</body>
</html>