@using MrRondon.Domain.Entities
@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Presentation.Mvc.ViewModels.CrudCompanyVm

<h3 class="ui dividing header">Informações da Empresa</h3>
<div class="fields">
    <div class="eight wide field">
        @Html.LabelFor(e => e.Company.Name)
        @Html.SemanticTextBoxFor(e => e.Company.Name, null)
    </div>
    <div class="eight wide field">
        @Html.LabelFor(e => e.Company.FancyName)
        @Html.SemanticTextBoxFor(e => e.Company.FancyName, null)
    </div>
</div>
<div class="fields">
    <div class="three wide field">
        @Html.LabelFor(e => e.Company.Cnpj)
        @Html.SemanticTextBoxFor(e => e.Company.Cnpj, null)
    </div>
    <div class="seven wide field">
        @Html.Label("Categoria")
        @Html.SemanticDropDownListFor(e => e.CategoryId, (SelectList)ViewBag.Categories)
    </div>
    <div class="six wide field">
        @Html.Label("Sub Categoria")
        @Html.SemanticDropDownListFor(e => e.SubCategoryId, (SelectList)ViewBag.SubCategories)
    </div>
</div>

<h3 class="ui dividing header">Informações de Contato</h3>
<div class="list-contact">
    @Html.Action("Contacts", "Company", new { area = "Admin", companyContact = Model })
</div>

<h3 class="ui dividing header">Informações do Endereço</h3>
@Html.Partial("_FormAddress", Model?.Company.Address ?? new Address())