@using MrRondon.Domain.Entities
@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Presentation.Mvc.ViewModels.CrudCompanyVm

<h3 class="ui dividing header">Informações da Empresa</h3>

@Html.HiddenFor(model => model.Company.Cover)
@Html.HiddenFor(model => model.Company.Logo)

<div class="fields">
    <div class="six wide field">
        @Html.LabelFor(model => model.Company.Logo)
        <img id="LogoImage" style="height: 250px; width: 250px;border: #045e55 3px solid" alt="" src="@Url.Content((Model?.Company.GetCover ?? "~/Content/Images/without_image.jpg"))" class="ui centered medium image circular">
        <div class="ui centered button">
            <span class="attach basic icon"></span> Anexar arquivo

            @Html.TextBoxFor(model => model.LogoFile, new { type = "file", data_fileupload = $"#{nameof(Model.LogoFile)}", data_show = "#LogoImage", onchange = "ImagePreview.Show()" })
        </div>
    </div>
    <div class="ten wide field">
        @Html.LabelFor(model => model.Company.Cover)
        <img id="CoverImage" style="height: 250px; border: #045e55 3px solid" alt="" class="ui fluid image" src="@Url.Content((Model?.Company.GetCover ?? "~/Content/Images/without_image.jpg"))">
        <div class="ui button">
            <span class="attach basic icon"></span> Anexar arquivo

            @Html.TextBoxFor(model => model.CoverFile, new { type = "file", data_fileupload = $"#{nameof(Model.CoverFile)}", data_show = "#CoverImage", onchange = "ImagePreview.Show()" })
        </div>
    </div>
</div>
<div class="fields">
    <div class="eight wide field">
        @Html.LabelFor(e => e.Company.Name)
        @Html.SemanticTextBoxFor(e => e.Company.Name, null)
    </div>
    <div class="eight wide field">
        @Html.LabelFor(e => e.Company.FancyName)
        @Html.SemanticTextBoxFor(e => e.Company.FancyName, null)
    </div>
</div>
<div class="fields">
    <div class="three wide field">
        @Html.LabelFor(e => e.Company.Cnpj)
        @Html.SemanticTextCnpjFor(e => e.Company.Cnpj, null)
    </div>
    <div class="seven wide field">
        @Html.LabelFor(e => e.CategoryId)
        @Html.SemanticDropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, "Selecione...", new { data_drop_url = Url.Action("GetSubCategories", "SubCategory", new { categoryId = "value" }), data_drop_setresult = "#SubCategoryId" })
    </div>
    <div class="six wide field">
        @Html.LabelFor(e => e.SubCategoryId)
        @Html.SemanticDropDownListFor(e => e.SubCategoryId, (SelectList)ViewBag.SubCategories)
    </div>
</div>

<h3 class="ui dividing header">Informações de Contato</h3>
<div class="list-contact">
    @Html.Action("Contacts", "Company", new { area = "Admin", companyContact = Model })
</div>

<h3 class="ui dividing header">Informações do Endereço</h3>
@Html.Partial("_FormAddress", Model?.Company.Address ?? new Address())
@Html.Partial("_ButtonSubmit")