@model MrRondon.Presentation.Mvc.ViewModels.NewPasswordVm
    @{
        ViewBag.Title = "Alterar Senha";
    }

    <div class="ui two column centered grid">
        <div class="column"></div>
        <div class="four column centered row">
            <div class="column">
                <h2 class="ui blue header">
                    <div class="content">
                        @ViewBag.Title
                    </div>
                </h2>
                @using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new { @class = "ui large form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.UserId)
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.SemanticPasswordFor(model => model.NovaSenha, new { placeholder = "Nova senha" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.SemanticPasswordFor(model => model.ConfirmarSenha, new { placeholder = "Confirmar senha" })
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large blue button">Confirmar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts{
        @Scripts.Render("~/bundles/validation")
    }

