@using System.Web.Optimization
@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Presentation.Mvc.ViewModels.RecoveryPasswordVm

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Redefinir Senha";
    ViewBag.Menu03 = "active";
}
@section header
{
    <h1 class="ui header">
        <span class="content gt-text-uppercase">@ViewBag.Title</span>
    </h1>
}

<div class="ui two column centered grid">
    <div class="column"></div>
    <div class="four column centered row">
        <div class="column">
            @using (Html.BeginForm("RecoveryPassword", "Account", FormMethod.Post, new { @class = "ui large form" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="code icon"></i>
                            @Html.SemanticTextBoxFor(model => model.Code, new { placeholder = "Código recebido no email" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.SemanticPasswordFor(model => model.NewPassword, new { placeholder = "Nova senha" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.SemanticPasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirme a senha" })
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large blue button">Confirmar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/validation")
}