@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Domain.Entities.Address

<div class="ui equal width form">
    <div class="four fields">
        <div class="three wide field">
            @Html.LabelFor(e => e.ZipCode)
            <div id="container-zipcode" class="ui left icon input">
                @Html.SemanticTextZipCodeFor(e => e.ZipCode, new { data_function = "Correios.SearchZipCode", placeholder = "Ex.: 12345-678" })
                <i class="search icon"></i>
            </div>
        </div>
        <div class="five wide field">
            @Html.LabelFor(e => e.CityId)
            @Html.SemanticDropDownListFor(e => e.CityId, (SelectList)ViewBag.Cities)
        </div>
        <div class="four wide field">
            @Html.LabelFor(e => e.Latitude)
            @Html.SemanticTextBoxFor(e => e.LatitudeString, new { @class = "latitude", placeholder = "Ex.: -8.7657021" })
        </div>
        <div class="four wide field">
            @Html.LabelFor(e => e.Longitude)
            @Html.SemanticTextBoxFor(e => e.LongitudeString, new { @class = "longitude", placeholder = "Ex.: -63.9080143" })
        </div>
    </div>
    <div class="two fields">
        <div class="twelve wide field">
            @Html.LabelFor(e => e.Street)
            @Html.SemanticTextBoxFor(e => e.Street, new { placeholder = "Ex.: Rua da Alegria" })
        </div>
        <div class="four wide field">
            @Html.LabelFor(e => e.Number)
            @Html.SemanticTextBoxFor(e => e.Number, new { placeholder = "Ex.: 456" })
        </div>
    </div>
    <div class="two fields">
        <div class="six wide field">
            @Html.LabelFor(e => e.Neighborhood)
            @Html.SemanticTextBoxFor(e => e.Neighborhood, new { @class = "neighborhood", placeholder = "Ex.: Jequitibá" })
        </div>
        <div class="ten wide field">
            @Html.LabelFor(e => e.AdditionalInformation)
            @Html.SemanticTextBoxFor(e => e.AdditionalInformation, new { @class = "additional-information", placeholder = "Ex.: Curva do 'S'" })
        </div>
    </div>
</div>