@using MrRondon.Infra.Security.Helpers
@{Layout = "~/Views/Shared/_Layout.cshtml";}
@section styles{
    @RenderSection("styles", required: false)
}
@section navigation_left
{
    <nav class="gt-navigation-left">
        <div class="fluid ui large inverted secondary vertical menu gt-main-menu">
            <a href="@Url.Action("Index", "Category", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Categorias</span>
            </a>

            <a href="@Url.Action("Index", "SubCategory", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Sub Categorias</span>
            </a>

            <a href="@Url.Action("Index", "City", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Cidades</span>
            </a>

            <a href="@Url.Action("Index", "Company", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Empresas</span>
            </a>

            <a href="@Url.Action("Index", "Event", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Eventos</span>
            </a>

            <a href="@Url.Action("Index", "HistoricalSight", new {area = "Admin"})" class="item">
                <i class="id card icon"></i>
                <span>Patrimônio Histórico</span>
            </a>
        </div>
        @Html.Partial("_Settings")
    </nav>
}
<header class="gt-header">
    @RenderSection("header", required: false)
</header>
<article class="ui basic segment gt-article">
    @RenderBody()
</article>
<nav class="gt-navigation-right">
    @RenderSection("navigation_right", required: false)
</nav>
@section scripts{@RenderSection("scripts", required: false)}