@model MrRondon.Presentation.Mvc.ViewModels.CrudEventVm
@{
    ViewBag.Title = "Adicionar evento";
}

@section styles
{
    @Styles.Render("~/Content/event")
}

@section header
{
    <h1 class="ui header">
        <span class="content gt-text-uppercase">@ViewBag.Title</span>
    </h1>
}

@section navigation_right
{
    @Html.Partial("_Navigation", 2)
}

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "ui form", enctype = "multipart/form-data" }))
{
    @Html.Partial("_Form")
}

@section scripts {
    @Scripts.Render("~/bundles/correios")
    @Scripts.Render("~/bundles/validation")
    @Scripts.Render("~/bundles/event")
    <script>
        $(".sameAsOrganizer").checkbox({
                onChecked: function() {
                    var companyId = $("input[name='Event.OrganizerId']").val();
                    if (!companyId.length) return;

                    $.ajax({
                        type: "GET",
                        dataType: "html",
                        url: '@Url.Action("GetOrganizerAddress")',
                        data: { companyId },
                        contentType: "application/json; charset=utf-8",
                        success: function(response) {
                            $(".address").html(response);
                            $(this).removeClass("loading");
                        },
                        error: function(xhr, status, errorThrown) {
                            $(this).removeClass("loading");
                        }
                    });
                },
                onUnchecked: function() {
                    $(".address").show();
                }
            }
        );
    </script>
}