@model MrRondon.Presentation.Mvc.ViewModels.CrudEventVm
@{
    ViewBag.Title = "Editar evento";
}

@section styles
{
    @Styles.Render("~/Content/event")
}

@section header
{
    <h1 class="ui header">
        <span class="content gt-text-uppercase">@ViewBag.Title</span>
    </h1>
}

@section navigation_right
{
    @Html.Partial("_Navigation", 2)
}

@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { @class = "ui form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Event.EventId)
    @Html.HiddenFor(model => model.Event.AddressId)
    @Html.HiddenFor(model => model.Event.OrganizerId)
    @Html.Partial("_Form")
}

@section scripts {
    @Scripts.Render("~/bundles/correios")
    @Scripts.Render("~/bundles/validation")
    @Scripts.Render("~/bundles/event")
}