@model MrRondon.Domain.Entities.Message
@{
    ViewBag.Title = "Adicionar message";
}

@section header
{
    <h1 class="ui header">
        <span class="content gt-text-uppercase">@ViewBag.Title</span>
    </h1>
}

@section navigation_right
{
    @Html.Partial("_Navigation", 2)
}

@using (Html.BeginForm("Create", "Message", FormMethod.Post, new { @class = "ui form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Form")
    @Html.Partial("_ButtonSubmit")
}

@section scripts {
    @Scripts.Render("~/bundles/validation")
}