@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Domain.Entities.Category

<div class="ui equal width form">
    <div class="fields">
        <div class="eight wide field">
            @Html.LabelFor(e => e.Name)
            @Html.SemanticTextBoxFor(e => e.Name, null)
        </div>
        <div class="eight wide field">
            @Html.LabelFor(e => e.SubCategoryId)
            @Html.SemanticDropDownListFor(e => e.SubCategoryId, (SelectList)ViewBag.SubCategories)
        </div>
    </div>
    <div class="fields">
        <div class="field">
            @Html.LabelFor(model => model.Image)
            <div class="ui medium image">
                <div class="categoryImage" style="height: 300px; width: 300px; border: black 1px solid;background-color: #eaeaea">
                    <img alt="" class="ui medium circular image" src="@Url.Content(Model.GetImage)" style="height: 100%">
                </div>
                <div class="ui button">
                    <span class="attach basic icon"></span> Anexar arquivo
                    <input id="imageFile" type="file" name="imageFile" class="upload" />
                </div>
            </div>
        </div>
    </div>
</div>